#Condicional

In [46]:
# If
if 5 > 10:
  print("verdade")
  print("5 é maior que 10")

In [52]:
# If/else
num1 = 10
num2 = 5
if num1 > num2:
  print( 'O num1 é maior número')
else:
  print('O num2 é maior número')

O num1 é maior número

In [51]:
# if  / elif / else
num1 = 10
num2 = 10
if num1 > num2:
  print("num1 é o maior número")
elif num1 < num2:
    print("num2 é o maior número")
else:
      print("Os dois são iguais")

Os dois são iguais

**Condicional com oiperadores lógicos**

In [66]:
num1 = 100
num2 = 500
num3 = 2000
if (num1 > num2) and (num1 > num3):
  print('num1 é o maior número')
elif num2 < num3:
  print('o num3 é o maior número')
else:
  print('O num1 não é o maior número')

o num3 é o maior número

O valor de x é 5 e o dobro é 10

Eu, Jorge Costa tirei 5 na prova de Python

Declarar várias variáveis na mesma linha 10 15

**Type**

**input**


*   Armazenar a informaçãp digitada pelo usuário em uma variável
*   O dado armazenado sempre será um texto

Digite o nome do usuário Jorge
Jorge

Digite a nota 7
Jorge sua nota foi 7

Digite o valor do produto: 100
100

TypeError: unsupported operand type(s) for -: 'str' and 'int'

95

95