#Visualização de Variáveis e Textos

In [2]:
print ("Conhecendo o comando Print")
x = 8
(print(x))

Conhecendo o comando Print
8

In [4]:
y = 10
somna = x + y
print(somna)

18

In [5]:
nome = "Jorge Costa"
print(nome)

Jorge Costa

**Concatenação**

In [13]:
x = 5
print("O valor de x é ", x)

O valor de x é  5

In [9]:
print('O valor de x é' , x, 'e o dobro é', x * 2 )

O valor de x é 5 e o dobro é 10

In [10]:
print('Eu,', nome, 'tirei', x, 'na prova de Python')

Eu, Jorge Costa tirei 5 na prova de Python

In [14]:
y = 10; z = 20 + x - y
print('Declarar várias variáveis na mesma linha', y, z)

Declarar várias variáveis na mesma linha 10 15

**Type**

In [26]:
x = 10
print('x', type(x))  # x é um int

nome = 'Jorge'
print('nome', type(nome))  # nome é uma string

num = "100"
num_convert = int(num)
print('num', type(num))  # num continua sendo uma string
print('num_convert', type(num_convert))  # num_convert é um int

num_float = float(num)
print('num_float', num_float)  # num_float é um float

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_convert <class 'int'>
num_float 100.0

**input**


*   Armazenar a informaçãp digitada pelo usuário em uma variável
*   O dado armazenado sempre será um texto

In [27]:
nome = input ("Digite o nome do usuário ")
print(nome)

Digite o nome do usuário Jorge
Jorge

In [32]:
valor = input("Digite a nota ")
print(nome, 'sua nota foi', valor)

Digite a nota 7
Jorge sua nota foi 7

In [33]:
valor = input('Digite o valor do produto: ')
print(valor)

Digite o valor do produto: 100
100

In [34]:
desconto = valor - 5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [35]:
valor_convet = int(valor)
desconto = valor_convet - 5
print(desconto)

95

In [36]:
desconto = int(valor) - 5
print(desconto)

95